#art {
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 5px solid black;
  draggable: false;
  cursor:crosshair;
}

.row {
  display: table-row;
  draggable: false;
}

.pixel {
  display: table-cell;
  background: white;
  width: 30px;
  height: 30px;
  draggable: false;
}

.pen {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  cursor:pointer;

}

.title {
  font-family: Arial;
}

.logo {
  width: 450px;
  height: 106px;
}

.toolpanel {

}

.sweet-alert {
       width:  950px;
}
